<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Ethereum Sea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="lib/noty.3.1.4.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="src/main.css">
  </head>
  <body>
    <div id="spinner" class="lds-dual-ring"></div>
    <div class="modal fade" id="ui-modal" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <component v-bind:is="currentComponent" v-bind:uid="id"></component>
      </div>
    </div>
    <div id="ui-main" align="center">
      <div style="max-width:800px;">
        <div style="position:absolute;right:20px;" v-if="address" v-cloak>
          <div>{{address}}</div>
          <span class="m-1">RETH: {{RETH}}</span>
          <span class="m-1">CPX: {{CPX}}</span>
        </div>
        <h1>
          <span>Ethereum Sea</span>
          <button class="btn btn-outline-success m-0" type="button" @click="showNav = !showNav,getAllPlanes()">
            <img src="media/iconic/globe.svg" height="24" width="24">
          </button>
          <button class="btn btn-outline-success m-0 font-weight-bold font-italic" type="button" @click="showInfo()">i</button>
        </h1>
        <div v-if="name" v-cloak>
          <h5 class="moreInfo" @click="planeData()">{{name}}</h5>
          <div class="d-inline-flex">
            <span class="px-1">
              Faction: <span class="moreInfo" @click="showFaction=true">{{faction.name}}</span>
            </span>
            <span class="px-1" v-if="stats.cities>0" v-cloak>Cities: {{stats.cities}}</span>
            <div class="px-1 d-inline-flex" v-if="CCPX.length>0" v-cloak>
              <span class="pr-1">CPX: </span>
              <div v-for="c in CCPX" :style="c"></div>
            </div>
          </div>
          <div>
            <span class="px-1">
              Needs: <img v-for="n in ne.n" :style="'background-color:'+n.color" :src="'media/trade/'+n.src" height="24" width="24">
            </span>
            <span class="px-1">
              Exports: <img v-for="e in ne.e" :style="'background-color:'+e.color" :src="'media/trade/'+e.src" height="24" width="24">
            </span>
          </div>
        </div>
        <div v-if="showNav" v-cloak>
          <div class="input-group">
            <select class="custom-select" v-model="newPlaneAddress">
              <option v-for="p in allPlanes" v-bind:value="p.id">{{p.name}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-success" type="button" @click="viewPlane()">View</button>
            </div>
          </div>
        </div>
        <div class="card p-1" v-if="showFaction" v-cloak>
          <h3 class="d-flex justify-content-between">
            <span>{{faction.name}}</span>
            <button type="button" class="btn btn-light" @click="showFaction=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </h3>
          <div align="left" v-if="cityNames.length>0">
            <h4 class="m-0">Cities</h4>
            <div>{{cityNames.join(', ')}}</div>
          </div>
          <div align="left">
            <h4 class="m-0">People</h4>
            <div>{{faction.people.join(', ')}}</div>
          </div>
        </div>
      </div>
      <div align="left" v-if="menuId>-1" v-cloak>
        <div class="card p-1" style="max-width:200px;"></div>
      </div>
      <canvas id="display" align="center" height="800" width="800" v-if="twoD" v-cloak></canvas>
    </div>
    <div id="container"></div>
    <template id="info-ui">
      <div class="modal-content p-1" align="center">
        <div style="max-width:600px;">
            <button class="btn btn-info btn-block" type="button" @click="showPeople()">People of the Outlands</button>
            <button class="btn btn-info btn-block" type="button" @click="showFactions()">Factions</button>
            <button class="btn btn-info btn-block" type="button" @click="makeRuin()">Random Ruin</button>
            <button class="btn btn-info btn-block" type="button" @click="showCharacter()">Characters</button>
            <button class="btn btn-info btn-block" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </template>
    <template id="ruin-modal-ui">
      <div id="ruin-modal" class="modal-content">
        <h5 align="center">{{ruin.name}}
          <button type="button" class="close mr-1" data-dismiss="modal">&times;</button>
        </h5>
        <svg id="ruin-display" align="center" height="800" width="800" v-if="twoD" v-cloak></svg>
        <div class="input-group p-1">
          <select class="custom-select" v-model="loadCId">
            <option v-for="(data,cid) in allCharacters" v-bind:value="cid">{{data.name.length>0 ? data.name : 'NAME'}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-success" type="button" @click="addC()">Add</button>
          </div>
        </div>
        <div class="px-1" :class="{'selected': activePC == i}" v-for="(c,i) in activeCharacters" @click="activePC = i">
          <span class="font-weight-bold">{{c.name}}</span>
          <span class="btn-skill" v-for="(val,s) in c.skills" @click="skillRoll(s,c,-1)">{{s}} {{val}}</span>
        </div>
        <div class="p-1">
          <h5>Encounters</h5>
          <div class="ruin-encounter" v-for="(e,i) in encounters">
            <div class="d-flex">
              <span>{{e.rz}} {{e.what}} </span>
              <span class="px-2">({{e.aspects.join(" - ")}})</span>
              <span class="px-2" v-if="e.dmg>0">Damage: {{e.dmg}}</span>
              <span class="ml-auto"></span>
              <span class="btn-skill" v-for="s in e.skills" @click="skillRoll(s,null,i)">{{s}}</span>
            </div>
            <div v-for="f in e.foes">
              <span class="font-weight-bold">{{f.type}}</span>
              <span>{{f.stats.AC}} {{f.stats.dmg}}</span>
              <span>{{f.hd.length}}</span>
            </div>
            <div>
              <span>{{e.state.join(" - ")}}</span>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template id="outlands-plane-modal">
      <div id="plane-data" class="modal-content p-1">
        <h5 class="row m-0 p-0">
          <div class="col p-0">{{plane.name}}</div>
          <div class="col">
            <button type="button" class="close mr-1" data-dismiss="modal">&times;</button>
          </div>
        </h5>
        <div v-if="cityNames.length>0"><span class="font-weight-bold">Cities: </span> {{cityNames.join(", ")}}</div>
        <div class="d-flex flex-wrap" v-if="ruinNames.length>0">
          <span class="font-weight-bold pr-1">Ruins: </span> 
          <span class="ruinName moreInfo" :class="{'font-weight-bold': i<nmr}" v-for="(name,i) in ruinNames" @click="enterRuin(i)">{{name}}</span> 
        </div>
      </div>
    </template>
    <template id="outlands-factions">
      <div id="faction-data" class="modal-content p-1">
        <h4>Factions
          <button type="button" class="close mr-1" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
        <div align="center">
          <div class="btn-group" align="center" role="group">
            <button type="button" class="btn btn-secondary" @click="type=0">Active ({{filtered(0).length}})</button>
            <button type="button" class="btn btn-secondary" @click="type=1">Trouble ({{filtered(1).length}})</button>
            <button type="button" class="btn btn-secondary" @click="type=2">Ancient ({{filtered(2).length}})</button>
          </div>
        </div>
        <div class="faction" v-for="(f,id) in filtered(type)">
          <div class="row m-0 p-0">
            <div class="col m-0 p-0"><h5>{{f.name}}</h5></div>
            <div class="col" align="right">Rank: {{f.rank}}</div>
          </div>
          <div><span class="font-weight-bold">Aspects: </span> {{f.aspects.join(' / ')}}</div>
          <div><span class="font-weight-bold">People: </span> {{f.people.join('; ')}}</div>
          <div v-if="claims[id].length>0"><span class="font-weight-bold">Planes: </span> {{claims[id].join(', ')}}</div>
        </div>
      </div>
    </template>
    <template id="outlands-people">
      <div id="people-data" class="modal-content p-1">
        <h5 class="row">
          <div class="col">People</div>
          <div class="col">Factions</div>
          <button type="button" class="close mr-1" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>
        <div class="row m-0 pl-1" v-for="(p,id) in allPeople" v-if="factionNames[id].length>0">
          <div class="col">{{p.name}}</div>
          <div class="col">{{factionNames[id].join(', ')}}</div>
        </div>
      </div>
    </template>
    <template id="swn-character">
      <div id="char-editor" class="modal-content">
        <div class="input-group p-1">
          <select class="custom-select" v-model="loadId">
            <option v-for="(data,cid) in allCharacters" v-bind:value="cid">{{data.name.length>0 ? data.name : 'NAME'}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-success" type="button" @click="load()">Load</button>
            <button class="btn btn-success" type="button" @click="newChar()">New</button>
            <button type="button" class="btn btn-secondary" @click="close()" data-dismiss="modal">&times;</button>
          </div>
        </div>
        <div class="modal-body" v-if="cpxLevel > 0" v-cloak>
          <h4>
            <input type="text" class="form-control" v-model="name">
          </h4>
          <div class="d-flex flex-wrap m-1">
            <div id="swn-level">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Level</span>
                </div>
                <input type="number" class="form-control" v-model="cpxLevel">
                <div class="input-group-prepend">
                  <span class="input-group-text">XP</span>
                </div>
                <input type="number" class="form-control" v-model="xp">
              </div>
            </div>
            <div id="swn-hp">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">HP</span>
                </div>
                <input type="number" class="form-control" v-model="hp[0]">
                <div class="input-group-prepend">
                  <span class="input-group-text">Max HP</span>
                </div>
                <input type="number" class="form-control" v-model="hp[1]">
              </div>
            </div>
          </div>
          <h5 class="section-header">
            <span>Aspects </span>
            <button class="btn btn-secondary btn-sm font-italic font-wight-bold" type="button" @click="aboutAspects()">i</button>
            <button class="btn btn-success btn-sm" type="button" @click="aspects.push('')">&#10010;</button>
          </h5>
          <div class="mb-1">
            <div v-for="(a,i) in aspects">
              <div class="input-group">
                <input type="text" class="form-control" v-model="aspects[i]">
                <div class="input-group-append">
                  <button class="btn btn-warning" type="button" @click="aspects.splice(i,1)">&#10005;</button>
                </div>
              </div>
            </div>
          </div>
          <h5 class="section-header">
            <span>Skills </span>
            <button class="btn btn-success btn-sm mx-1" type="button" @click="showAddSkill = !showAddSkill">&#10010;</button>
          </h5>
          <div class="swn-skill" v-if="showAddSkill">
            <div class="input-group">
              <select class="custom-select" v-model="newSkill">
                <option v-for="(val,key) in cpxSkills" v-bind:value="key">{{key}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-success" type="button" @click="addSkill()">Add</button>
              </div>
            </div>
          </div>
          <div class="swn-skill" v-for="(val,s) in skills">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{s | capitalize }}</span>
              </div>
              <input type="number" class="form-control" min="0" v-model="skills[s]">
              <div class="input-group-append">
                <button class="btn btn-warning" type="button" @click="rmSkill(s)">&#10005;</button>
              </div>
            </div>
          </div>
          <h5 class="section-header">
            <span>Powers </span>
            <button class="btn btn-success btn-sm" type="button" @click="cpxPowers.push(['',1,''])">&#10010;</button>
          </h5>
          <div class="mb-1">
            <div v-for="(p,i) in cpxPowers">
              <div class="input-group">
                <select class="custom-select" style="max-width:150px;" v-model="cpxPowers[i][0]">
                  <option v-for="(p,i) in CPXPowerData" v-bind:value="p.id">{{p.name}}</option>
                </select>
                <input type="number" min="1" max="10" class="form-control" style="max-width:50px;" v-model="cpxPowers[i][1]">
                <input type="text" class="form-control" placeholder="EXTRAS/LIMITS" v-model="cpxPowers[i][2]">
                <div class="input-group-append">
                  <button class="btn btn-warning" type="button" @click="cpxPowers.splice(i,1)">&#10005;</button>
                </div>
              </div>
            </div>
          </div>
          <h5 class="section-header">
            <span>Gear </span>
            <button class="btn btn-success btn-sm mx-1" type="button" @click="gear.push('')">&#10010;</button>
          </h5>
          <div v-for="(g,i) in gear">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Info" v-model="gear[i]">
              <div class="input-group-append">
                <button class="btn btn-warning" type="button" @click="gear.splice(i,1)">&#10005;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </body>
  <script src="lib/gpu.min.js"></script>
  <script src="lib/ethers-v4.min.js"></script>
  <script src="lib/three.min.js"></script>
  <script src="lib/topojson-server.js"></script>
  <script src="lib/topojson.v1.min.js"></script>
  <script src="lib/d3.v5.min.js"></script>
  <script src="lib/d3-delaunay.min.js"></script>
  <script src="lib/d3-geo-voronoi.min.js"></script>
  <script src="lib/simplex-noise.js"></script>
  <script src="lib/vue.2.5.16.min.js"></script>
  <script src="lib/noty.3.1.4.min.js"></script>
  <script src="lib/popper.1.12.3.min.js"></script>
  <script src="lib/jquery-3.3.1.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script type="module" src="src/main.js"></script>
</html>
