<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Ethereum Sea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="lib/noty.3.1.4.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="src/main.css">
  </head>
  <body>
    <div id="spinner" class="lds-dual-ring"></div>
    <div class="modal fade" id="ui-find" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Finds</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-success btn-block" data-dismiss="modal" v-for="f in findText" @click="makeFind(f.i)">{{f.text}}</button>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="ui-modal" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <component v-bind:is="currentComponent"></component>
      </div>
    </div>
    <div id="ui-main" align="center">
      <div style="max-width:800px;">
        <div style="position:absolute;right:20px;" v-if="address" v-cloak>
          <div>{{address}}</div>
          <span class="m-1">RETH: {{RETH}}</span>
          <span class="m-1">CPX: {{CPX}}</span>
        </div>
        <h1>
          <span>Ethereum Sea</span>
          <button class="btn btn-outline-success" type="button" @click="showNav = !showNav">
            <img src="media/iconic/globe.svg" height="24" width="24">
          </button>
        </h1>
        <div v-if="name" v-cloak>
          <div>
            {{name}} <span style="font-size: 0.7rem;">({{planeAddress}})</span>
          </div>
          <div class="d-inline-flex">
            <span class="px-1">
              Faction: <span class="moreInfo" @click="showFaction=true">{{faction.name}}</span>
            </span>
            <span class="px-1" v-if="stats.cities.length>0" v-cloak>Cities: {{stats.cities.length}}</span>
            <div class="px-1 d-inline-flex" v-if="CCPX.length>0" v-cloak>
              <span class="pr-1">CPX: </span>
              <div v-for="c in CCPX" :style="c"></div>
            </div>
          </div>
          <div>
            <span class="px-1">
              Needs: <img v-for="n in ne.n" :style="'background-color:'+n.color" :src="'media/trade/'+n.src" height="24" width="24">
            </span>
            <span class="px-1">
              Exports: <img v-for="e in ne.e" :style="'background-color:'+e.color" :src="'media/trade/'+e.src" height="24" width="24">
            </span>
          </div>
        </div>
        <div v-if="showNav" v-cloak>
          <div class="input-group">
            <select class="custom-select" v-model="newPlaneAddress">
              <option v-for="pid in allPlanes" v-bind:value="pid">{{pid}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-success" type="button" @click="viewPlane()">View</button>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Links (txns)</span>
            </div>
            <select class="custom-select" v-model="newPlaneAddress">
              <option v-for="pid in links" v-bind:value="pid">{{pid}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-success" type="button" @click="viewPlane()">View</button>
            </div>
          </div>
        </div>
        <div class="card p-1" v-if="showFaction" v-cloak>
          <h3 class="d-flex justify-content-between">
            <span>{{faction.name}}</span>
            <button type="button" class="btn btn-light" @click="showFaction=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </h3>
          <div align="left" v-if="cityNames.length>0">
            <h4 class="m-0">Cities</h4>
            <div>{{cityNames.join(', ')}}</div>
          </div>
          <div align="left">
            <h4 class="m-0">People</h4>
            <div>{{faction.people.join(', ')}}</div>
          </div>
        </div>
      </div>
      <div align="left" v-if="menuId>-1" v-cloak>
        <div class="card p-1" style="max-width:200px;"></div>
      </div>
      <canvas id="display" align="center" height="800" width="800" v-if="twoD" v-cloak></canvas>
    </div>
    <div id="container"></div>
    <template id="swn-character">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            <input type="text" class="form-control" v-model="name">
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="m-0">
            Class
            <button class="btn btn-success btn-sm" type="button" @click="classes.push('exp')" v-if="classes.length<3">+</button>
          </h5>
          <div class="d-inline-flex flex-wrap" v-for="(c,i) in classes">
            <div class="input-group" style="width:170px;">
              <select class="custom-select"  v-model="classes[i]">
                <option v-for="(val,key) in swnClasses" v-if="val.canSelect" v-bind:value="key">{{val.name}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-warning" type="button" @click="classes.splice(i,1)">-</button>
              </div>
            </div>
          </div>
          <div>
            <div class="input-group m-1">
              <div class="input-group-prepend">
                <span class="input-group-text">Level</span>
              </div>
              <input type="number" class="form-control" v-model="level">
              <div class="input-group-prepend">
                <span class="input-group-text">XP</span>
              </div>
              <input type="number" class="form-control" v-model="xp">
              <div class="input-group-prepend">
                <span class="input-group-text">Atk Bonus</span>
              </div>
              <input type="number" class="form-control" v-model="atk">
              <div class="input-group-prepend">
                <span class="input-group-text">HP</span>
              </div>
              <input type="number" class="form-control" v-model="hp[0]">
              <div class="input-group-prepend">
                <span class="input-group-text">Max HP</span>
              </div>
              <input type="number" class="form-control" v-model="hp[1]">
            </div>
          </div>
          <h5>Attributes</h5>
          <div class="w-33 d-inline-flex" v-for="(n,i) in OSRAttributeNames">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="width:64px;">{{n}}</span>
              </div>
              <input type="number" class="form-control" v-model="attributes[i]">
              <div class="input-group-append">
                <span class="input-group-text">{{attributeBonus[i]}}</span>
              </div>
            </div>
          </div>
          <h5 class="pt-1">
            <span>Skills </span>
            <button class="btn btn-success btn-sm mx-1" type="button" @click="showAddSkill = !showAddSkill">+</button>
          </h5>
          <div class="w-33 d-inline-flex" v-if="showAddSkill">
            <div class="input-group">
              <select class="custom-select" v-model="newSkill">
                <option v-for="(val,key) in swnSkills" v-bind:value="key">{{key}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-success" type="button" @click="addSkill()">Add</button>
              </div>
            </div>
          </div>
          <div class="w-33 d-inline-flex" v-for="(val,s) in skills">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{s | capitalize }}</span>
              </div>
              <input type="number" class="form-control" min="0" v-model="val">
              <div class="input-group-append">
                <button class="btn btn-warning" type="button" @click="rmSkill(s)">-</button>
              </div>
            </div>
          </div>
          <h5>Class Abilities</h5>
          <div class="swn-abilities" v-for="(a,i) in classAbilities">
            <h6 data-toggle="collapse" :data-target="'#cA-'+i">{{a.title}}</h6>
            <div class="border pl-1 collapse" :id="'cA-'+i">
              <div v-html="a.ability"></div>
              <div class="pl-1" v-if="a.gifts">
                <div class="font-weight-bold">
                  {{a.title}} Gifts <button class="btn btn-info btn-sm" type="button" @click="showAllGifts = !showAllGifts">{{showAllGifts ? "All" : "Selected"}}</button>
                </div>
                <p v-for="(g,key) in a.gifts" :class="{selected : gifts.includes(a.id+'.'+key)}" @click="editGift(a.id,key)" v-if="showAllGifts || gifts.includes(a.id+'.'+key)">{{g}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </body>
  <script src="lib/gpu.min.js"></script>
  <script src="lib/ethers-v4.min.js"></script>
  <script src="lib/three.min.js"></script>
  <script src="lib/topojson-server.js"></script>
  <script src="lib/topojson.v1.min.js"></script>
  <script src="lib/d3.v5.min.js"></script>
  <script src="lib/d3-delaunay.min.js"></script>
  <script src="lib/d3-geo-voronoi.min.js"></script>
  <script src="lib/simplex-noise.js"></script>
  <script src="lib/vue.2.5.16.min.js"></script>
  <script src="lib/noty.3.1.4.min.js"></script>
  <script src="lib/popper.1.12.3.min.js"></script>
  <script src="lib/jquery-3.3.1.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script type="module" src="src/main.js"></script>
</html>
