html, body {
  font-size: 16px;
}

.block {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.center-div {
  margin: auto;
  display: block;
}

.center {
  text-align: center;
}

.content {
  padding: 10px;
}
.content-minor {
  padding: 5px;
}

#main{
  width: 100%;
  margin: auto;
}

#seaDisplay{
  margin: auto;
  display: block;
}

#touchControls
{
  position: fixed;
  bottom: 5;
  left: 50%;
  transform: translate(-50%,0%);
}

[v-cloak] {
  display: none;
}

#levelGraph{
  margin: auto;
  display: block;
  padding: 5px;
}

.link {
  stroke: black;
}

.node {
  stroke: blue;
  stroke-width: 1px;
}

.island {
  stroke: black;
}
.island.water {
  stroke: blue;
}
.island.rock {
  stroke: peru;
}
.island.wood {
  stroke: green;
}
.island.star {
  stroke: red;
}
.island.cog {
  stroke: black;
  stroke-dasharray: 2,2;
}
.island.ruin {
  stroke: darkslateblue;
  stroke-dasharray: 3,3;
}

.nation {
  
}
.islandName {
  padding-right: 5px;
  text-decoration: underline;
  cursor:pointer;
}

table#blockTable tr:nth-child(even) {
    background-color: rgba(171, 250, 250, 0.5);
}

.colorBlock {
  padding: 0px 10px;
  margin-right: 5px;
}

.aboutIsland {
	width: 50px;
	height: 50px;
	background-color: #ddd;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.top-over {
  position: absolute;
  top: 60px;
}