[v-cloak] {
  display: none;
}

body {
  margin: 0;
  background-color: silver;
}

/* CORE DATA DIV */

#info-bar {
  position: absolute;
  right:5px;
  width: 300px;
  z-index:10;
}
#info-bar.wide {
  width: 600px;
}

@media only screen and (max-width: 600px) {
  #info-bar {
    position: absolute;
    top:0px;
    left:0px;
    padding: 3px;
    width: 100%;
    z-index:1;
  }
  #info-bar.wide {
    width: 100%;
  }
}

/* OVERLAY FOR CENTER DATA */

.overlay {
  position: fixed;
  top: 5px;
  left: 50%;
  width: 400px;
  transform: translateX(-50%);
  background-color: whitesmoke;
}

/* Standard style link */
.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

/*Accordion helper for chevron*/
.accordion-toggle:before {
  display: inline-block;
  margin-right: 5px;
  content : "❯";
  transform: rotate(90deg);
}
.accordion-toggle.collapsed:before {
  transform: rotate(0deg);
}

/*CSS shapes for Fillable toggles */
.arrow-right {
  display:inline-block;
  margin-right:3px;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  border-left: 10px solid lightgray;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid lightgray;
}
.arrow-right.filled {
  border-left: 10px solid red;
}

.circle-select {
  display:inline-block;
  height: 14px;
  width: 14px;
  border: grey solid 1px;
  border-radius: 50%;
}
.fillable {
  display:inline-block;
  height: 20px;
  width: 8px;
  margin-right:3px;
  border: black solid 1px;
}
.fillable.filled, .circle-select.filled {
  background-color: red;
}

/*CSS Circle for Faction Color */
.factionColor {
  display:inline-block;
  height: 16px;
  width: 16px;
  border: black solid 1px;
  border-radius: 50%;
}

/*CSS styling for Maps */
path.slice {
  stroke:black;
}
rect.plate {
  fill:lightblue;
  stroke: black;
}

circle.water {
  fill: lightblue;
}

circle.land {
  fill: green;
}
polygon.land {
  fill: darkgreen;
}

circle.sector {
  stroke-width : 4;
  stroke-dasharray : 5,5;
  stroke: blue;
  fill: none;
}

circle.orbital   {
  stroke-width : 2;
  stroke: black;
  fill: none;
}

circle.system   {
  fill: green;
}

circle.selected {
  fill: rgba(0,0,255,0.5);
}

.system.selected   {
  stroke-width : 3;
  stroke: yellow;
}

